@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comic Neue', cursive;
}

:root {
  --primary-color: #ff9de2;
  --secondary-color: #fed5f1;
  --accent-color: #ff61a6;
  --active-color: #ff3b8d;
  --text-color: #000000;
  --background-color: #ffffff;
}

input {
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  border: 2px solid var(--primary-color);
}

input:focus {
  outline: none;
  border: 2px solid var(--accent-color);
}

button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  color: var(--text-color);
  font-size: 16px;
  cursor: pointer;
}