/* Navbar générale */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* Conteneur du logo + bouton */
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}

/* Logo */
.logo,
.menu-toggle {
    z-index: 1100;
}

.logo img {
    height: 120px;
}

/* Bouton hamburger */
.menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
    color: #222;
    font-size: 1.5rem;
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.5);
    /* fond noir transparent */
    backdrop-filter: blur(4px);
    /* flou optionnel */
    z-index: 10;
}

/* Menu déroulant */
.menu {
    position: absolute;
    top: 0;
    /* hauteur de la navbar */
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
    /* effet flou */
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    gap: 5em;
    align-items: center;
    padding: 20px;
    z-index: 11;
}

/* Active = affiché */
.menu.active {
    transform: translateY(0);
}

/* Liste des liens */
.menu .menu-list {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    max-width: 500px;
    width: 100%;
}

.menu .menu-list li {
    margin: 30px 0;
    width: 100%;
}

.menu .menu-list li a {
    color: #222;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: -2px;
    font-weight: 500;
    transition: all 0.5s ease;
    width: 100%;
    display: block;
    padding: 10px 0;
    border-radius: 10px;
}

.menu .menu-list li a:hover {
    background-color: var(--secondary-color);
}

.menu .menu-list li a.active {
    background-color: var(--active-color);
    color: var(--background-color);
}

.navbar .navbar-buttons {
    display: flex;
    align-items: center;
    gap: 40px;
}

@media screen and (max-width: 768px) {

    .menu {
        height: 100vh;
        flex-direction: column;
        left: auto;
        right: 0;
        padding: 25px;
        text-align: center;
    }

    .menu .menu-list li a {
        font-size: var(--font-size-body);
        letter-spacing: -1px;
    }

    .menu .bar {
        width: 100%;
        height: 2px;
    }
}